html, body {
 font-family: 'Times New Roman', Times, serif;
 background-color: #0b0b0b;
 scrollbar-color: #ffff00 black;
 scrollbar-width: 8px;
 zoom: 1.1165;
}

/*19.5/9 iphones landscape*/
@media (max-aspect-ratio: 2.17) {
  body {
    transform: scale(0.29);
    transform-origin: top left;
    width:345%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/*16:9 laptops*/
@media (max-aspect-ratio: 1.78) {
  body {
    transform: scale(0.672);
    transform-origin: top left;
    width: 149.254%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/*4:3 ipads*/
@media (max-aspect-ratio: 1.34) {
  body {
    transform: scale(0.4);
    transform-origin: top left;
    width: 370%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/*19.5/9 iphones portrait*/
@media (max-aspect-ratio: 0.47) {
  body {
    
    transform: scale(0.14);
    transform-origin: top left;
    width:700%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar
{
  background-color: black;
  width: 0px;
  height: 12px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb 
{
  background-color: black;
  background: linear-gradient(transparent, #ffff00);
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track 
{
  background-color: black;
  background: linear-gradient(transparent, #000000);
  border-radius: 6px;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}